.about-page {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 80px 20px 20px;
  background-color: #f9f9f9;
  color: #333;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content takes at least the full height of the viewport */
  
  section {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 60%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #444;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
    height: 150px;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .error-message {
    font-size: 0.9rem;
    color: red;
    margin-top: 5px;
  }

  .contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
}
