<div class="about-page">
  <section>
    <h1>About Me</h1>
    <p>
      I am a passionate programmer with a strong curiosity about how software
      works and how it can be used to solve real-world problems. With experience
      in various programming languages and frameworks, I constantly seek to
      learn and improve my skills. I believe that programming is not just about
      writing code but about understanding the needs of users and crafting
      solutions that make their lives easier. I enjoy working on both individual
      projects and collaborating with teams to bring ideas to life.
    </p>
  </section>

  <section>
    <h1>Contact Me</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" />
        <div
          *ngIf="
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
          "
        >
          Name is required.
        </div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div
          *ngIf="
            contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched
          "
        >
          Please enter a valid email address.
        </div>
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" formControlName="message"></textarea>
        <div
          *ngIf="
            contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched
          "
        >
          Message is required.
        </div>
      </div>
      <button type="submit" [disabled]="contactForm.invalid">Send</button>
    </form>
  </section>
</div>
