<!-- src/app/pages/blog/blog.component.html -->
<div class="page">
  <h1>My Blog</h1>
  <div class="blog-posts">
    <article class="blog-post" *ngFor="let post of blogPosts; let i = index">
      <h2>{{ post.title }}</h2>

      <div *ngIf="post.imageUrl">
        <img [src]="post.imageUrl" alt="Blog Post Image" class="post-image" />
      </div>

      <small>Published: {{ post.date }}</small>

      <div class="post-actions">
        <!-- Read More button -->
        <button (click)="goToPost(post)">Read more</button>

        <!-- Like/Dislike Section placed on the right -->
        <div class="likes-dislikes">
          <button (click)="updateLikes(i, 'up')">↑</button>
          <span>{{ post.likes }}</span>
          <button (click)="updateLikes(i, 'down')">↓</button>
        </div>
      </div>
    </article>
  </div>

  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <h2>Create Blog Post</h2>
      <form (ngSubmit)="createPost()">
        <label for="title">Title:</label>
        <input id="title" [(ngModel)]="newPostTitle" name="title" required />
        <label for="content">Content:</label>
        <textarea
          id="content"
          [(ngModel)]="newPostContent"
          name="content"
          required
        ></textarea>
        <label for="image">Image:</label>
        <input id="image" type="file" (change)="onImageSelected($event)" />
        <button type="submit">Save Post</button>
        <button type="button" (click)="closeCreatePostModal()">Close</button>
      </form>
    </div>
  </div>

  <!-- Only show this button if it's user view -->
  <button
    *ngIf="!isOwnerView"
    (click)="clearAllPosts()"
    class="clear-posts-btn"
  >
    Clear all posts
  </button>
</div>
