<!-- src/app/pages/blog-post-detail/blog-post-detail.component.html -->
<div class="page">
  <h1>{{ post?.title }}</h1>

  <!-- Blog post image (if exists) -->
  <div *ngIf="post?.imageUrl">
    <img [src]="post?.imageUrl" alt="Blog Post Image" class="post-image" />
  </div>

  <small>Publicerad: {{ post?.date }}</small>

  <div class="post-content">
    <p>{{ post?.content }}</p>
  </div>

  <!-- Like/Dislike Section -->
  <div class="likes-dislikes">
    <button (click)="updateLikes('up')">↑</button>
    <span>{{ post?.likes }}</span>
    <button (click)="updateLikes('down')">↓</button>
  </div>
</div>
